.navbar-brand {
    font-size: larger;
    font-style: bold;
    font-weight: 400;
  }

.logo {
     font-size: 1.5em;
     font-style: bold;
     font-weight: 700;
     margin: 0;
     margin-bottom: 10px;
 } 

.links {
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
   }

 .bg-myRed{
     background-color:crimson,
 }

 .content{
     padding: 12px;
     height: 3600px;
 }

 .navbar-toggle .icon-bar {
    background-color: #fff;
}

a {
    text-decoration: underline;
    font-size: larger;
    font-style: bold;
    font-weight: 400;
}